.about-us-section {
    position: relative;
    background: url('../img/HOMEPAGE/webp/scientffic bg 1.webp') no-repeat center center;
    background-size: cover;
    padding: 60px 0;
    /* color: #fff; */




    /* opacity: 0.6px; */

}

.about-us-section::before {
    opacity: 0.6px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: linear-gradient(90deg, #37539F 0%, #379ED8 100%); */

    /* background-color: #003781; */
    /* Black color with 50% opacity */
    z-index: 1;
}

.about-us-section * {
    position: relative;
    z-index: 2;
}

.section-title {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}

.section-description {
    font-size: 1.1rem;
    max-width: 700px;
    margin: 0 auto;
    color: #e0e0e0;
}

.info-card-home {
    background: rgba(255, 255, 255, 0.85);
    border-radius: 8px;
    height: 100%;
    transition: transform 0.3s ease;
}

.info-card-home:hover {
    transform: translateY(-10px);
}

.card-icon {
    font-size: 2.5rem;
    color: #007bff;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 0.9rem;
    color: #333;
}

@media (max-width: 768px) {
    .info-card-home {
        padding: 20px;
    }
}