.about-us-section {
  position: relative;
  background: url("../images/IMG\ PBT.webp") no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  /* opacity: 0.6; */
}

.about-us-section::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.6;
  background: var(--primary-color);
}
.about-us-section * {
  z-index: 1;
}

.about-us-section .section-title {
  font-family: Poppins;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 34%;
  text-align: center;
  color: white;
}

.about-us-section .section-description {
  font-family: Poppins;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;

  max-width: 100%;
  margin: 0 auto;
  color: white;
}

.about-us-section .info-card-home {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 26px;
  height: 100%;
  transition: transform 0.3s ease;
}

.info-card-home:hover {
  transform: translateY(-10px);
}

.card-icon {
  font-size: 2.5rem;
  color: #007bff;
}

.about-us-section .card-title {
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 22.43px;
  letter-spacing: 0%;
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.about-us-section .card-text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: center;

  color: #000000;
}

@media (max-width: 768px) {
  .info-card-home {
    padding: 20px;
  }
}
