.company-header {
  position: relative;
  text-align: center;
}

.company-section {
  background-image: url("../images/IMG\ \(209\).webp");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 85vh;
}

.company-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 100%);

  /* background: rgba(0, 0, 0, 0.6); */
}

.our-company-page > * {
  position: relative;
  z-index: 1;
}
.header-overlay-text {
  margin-top: 12rem;
  padding: 0 11rem;
  position: relative;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 2;
}
/* .header-overlay {
  padding: 0 11rem;
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
} */

.header-overlay-text h2 {
  /* margin-top: 12rem; */
  font-family: Poppins;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: center;
  /* box-shadow: 0px 4px 4px 0px #00000040; */
  text-shadow: 0px 4px 4px 0px #00000040;
  color: var(--secondry-color);
}

.header-overlay-text p {
  max-width: 600px;
  margin: 0 auto;
  font-family: Poppins;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
}

.vision-card-company {
  margin-top: 2rem;
}

.mission-card-company {
  margin-top: 19rem;
}

.our-cpmany-card-3 {
  margin-top: -1rem;
  padding: 0 5rem;
}
.our-cpmany-card-3 .info-card {
  background-color: var(--primary-color);
  color: white;
  border-radius: 12px;
  padding: 0 5rem;
  padding: 10px;
  text-align: center;
  max-width: 278px;
  width: 278px;
  height: 195px;
}

.our-cpmany-card-3 .card-our-company2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}
.our-cpmany-card-3 .card .card-body {
  padding: 0;
}
.our-cpmany-card-3 .info-card i {
  font-family: Poppins;
  font-weight: 500;
  font-size: 24px;
  line-height: 31.09px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 10px;
  color: var(--secondry-color);
}
.our-cpmany-card-3 .card .card-title {
  font-family: Poppins;
  font-weight: 500;
  font-size: 24px;
  line-height: 31.09px;
  letter-spacing: 0%;
  text-align: center;
  padding: 0 2.2rem;
  color: white;
}

.our-story-section-page .our-story img {
  /* width: 100%; */
  max-width: 800px;
  height: 373px;
  object-fit: cover;
}
.our-story-text-left {
  padding-left: 4rem;
}
.our-story-section-page {
  margin-top: 3rem;
}
.our-story {
  padding: 4rem 0;
}

.left-side-half-circle-ourStory {
  height: 170px;
  position: absolute;
  margin-top: -1%;
  left: -7%;
}
.left-side-half-circle-india-map {
  height: 220px;
  position: absolute;
  margin-top: -19%;
  left: -10%;
}

.right-side-half-circle-india-map {
  height: 220px;
  margin-top: 25%;
  position: absolute;
  align-items: flex-end;
  text-align: end;
  justify-content: end;
  right: -110px;
}
.right-side-half-circle-company {
  float: right;
  height: 220px;
  margin-top: 10%;
  position: absolute;
  align-items: flex-end;
  text-align: end;
  justify-content: end;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-end;
  right: -79px;
}
.our-story img {
  object-fit: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.our-story h1 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0%;
  color: var(--primary-color);
}
.our-story p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: justify;
  color: black;
}

.our-story button {
  background-color: var(--primary-color);
  color: white;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  border-color: var(--primary-color);
}

.mission-vision-section h2 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: left;
  color: var(--primary-color);
}

@media (max-width: 576px) {
  .our-company-page .header-overlay {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
  }
  .header-overlay p {
    max-width: 600px;
    margin: 0 auto;
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }

  .mission-vision-section h2 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
    color: var(--primary-color);
    margin-top: 20px;
  }

  .cold-chain-section {
    margin-top: 5rem;
  }
}

@media (max-width: 576px) {
  .header-overlay h2 {
    font-size: 1.5rem;
  }
  .header-overlay p {
    font-size: 0.9rem;
  }
}
