body {
  overflow-x: hidden;
}

.upperStrip {
  height: 32px;
  background-color: #233b77;
  color: white;
}

.navbar-cutom {
  padding: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-loggo {
  height: 75px;
  width: 76px;
}

.navbar-nav-links .navLink-custom {
  color: #233b77 !important;
}

/* Add this to your navbar.css */
.navLink-custom.active-link {
  font-weight: bold;
  text-decoration: underline;
}

@media (max-width: 576px) {
  .navbar-toggler {
    border: none !important;
  }
}
@media (max-width: 396px) {
  .upperStrip {
    display: none !important;
  }
}
