.product-spotlight {
  padding: 40px 0;
}

.product-spotlight-row {
  height: 358px;
  width: 100%;
}

.product-section {
  display: flex;
  flex-direction: column;

  padding: 20px;
  text-align: center;
  height: 100%;
  padding: 0;
}

.product-images {
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
  height: 80%;
}

.product-img {
  width: 100%;
  height: auto;
  object-fit: none;
}

.product-description {
  background-color: #eeeeee;
  padding-left: 20px;
}

.product-description h5 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  padding-left: 7px;
  margin: 5px 0;
  color: var(--primary-color);
}

.product-description p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: center;
  color: black;
}

.spotlight-section {
  height: 100%;
  background-color: var(--primary-color);
  padding: 30px;
}

.spotlight-title {
  font-weight: bold;
  margin-bottom: 15px;
}

/* unlockng-container-home */

.unlockng-container-home .card-slider {
  /* padding: 20px; */
  padding: 3rem 0;
  /* background-color: #f9f9f9; */
}

.unlockng-container-home .custom-carousel .slider-item {
  padding: 20px 10px;
}

.unlockng-container-home .custom-carousel .react-multi-carousel-item {
  transition: transform 0.5s ease-in-out;
}

.unlockng-container-home .card-slider .card {
  border-top-left-radius: 23px !important;
  border-top-right-radius: 23px !important;
  border: 1px solid;

  border: 1px solid;

  border-image-source: linear-gradient(180deg, #233b77 0%, #ffffff 100%);

  border: none;
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
}

.unlockng-container-home .card-slider .card-img-top {
  height: 200px;
  object-fit: cover;
}

.unlockng-container-home .card-slider .btn-primary {
  background-color: #003366;
  border: none;
  font-weight: bold;
}

.unlockng-container-home .react-multi-carousel-track,
.react-multi-carousel-dot-list {
  margin-top: 20px !important;
}

.unlockng-container-home .card-slider .btn-primary:hover {
  background-color: #00509e;
}

@media (max-width: 576px) {
  .product-spotlight-row {
    height: auto;
    width: 100%;
  }
  .unlockng-container-home .card-slider {
    padding: 1rem 0;
  }
}
