.statistics-section {
  padding: 20px;
  background-color: #f7f7f7;
}
.state-card-colmn-home {
  padding: 0;
}

.state-card-colmn-home-1 .stat-image {
  padding-right: 10px;
  border-top-left-radius: 20px;
}
.state-card-colmn-home-2 .stat-image {
  padding-right: 10px;
}
.state-card-colmn-home-4 .stat-image {
  border-top-right-radius: 20px;
}
.state-card-colmn-home-3 .stat-image {
  padding-right: 10px;
}
.state-card-colmn-home-1 .stat-body {
  border-bottom-left-radius: 10px;
}
.state-card-colmn-home-4 .stat-body {
  border-bottom-right-radius: 10px;
}

.stat-card {
  border: none;
  border-radius: 0px;
  overflow: hidden;
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
}

.stat-image {
  height: 400px;
  object-fit: fill;
  width: 100%;
}

/* Overlay */
.stat-image-overlay {
  background-color: rgba(0, 55, 129, 1);
  height: 95px;
  width: 95px;
  border-radius: 50%;
  position: absolute;
  bottom: 17.5%;
  left: 50%;
  top: auto;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Icon inside overlay */
.stat-image-overlay-icon {
  height: 80px;
  width: 80px;
  object-fit: contain;
}

.stat-body {
  background-color: rgba(0, 55, 129, 1);
  color: white;
  padding: 15px;
  height: 90px;
  width: 100%;
}

.stat-icon {
  font-size: 40px;
  margin-bottom: 10px;
}

.stat-title {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  padding: 0 2rem;

  /* margin-bottom: 5px; */
}

.stat-number {
  font-size: 32px;
  font-weight: bold;
}
